.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blue {
  display: none;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.redGreenWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.red {
  width: 100%;
  min-height: 100vh;
}
.green {
  background-color: green;
  width: 100%;
  min-height: 100vh;
}

/* Tablet Styles */
@media (min-width: 768px) {
  .box {
    flex-direction: row;
  }
  .blue {
    display: block;
    width: 30%;
  }
  .redGreenWrapper {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .blue {
    width: 20%;
  }
  .redGreenWrapper {
    flex-direction: row;
    width: 80%;
  }
  .red {
    width: 70%;
  }
  .green {
    width: 30%;
  }
}
